<section id="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">House Details</h2>
                <h3 class="section-subheading text-muted">
                  We are renting out our home because we are moving to Canada.
                  Jacob accepted a job working on a coworking project in Vancouver, BC and Katie is always up for an adventure.
                  We've owned this house since 2004 and it has been well loved.  We are hoping to find the perfect family for this next
                  chapter of this amazing purple house.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">The House</h4>
                <p class="text-muted">
                  The house is just shy of 2000 sq ft with 5 Bedrooms, 2 full baths, and 1.5 kitchens on 3 floors.
                  There is a chicken coop, a large garden, a tree-house, and an amazing back patio.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Layout</h4>
                <p class="text-muted">
                  The attic has a large bedroom, a dressing area, and lots of storage.  The main floor has 2 bedrooms, 1 bath and the main kitchen.
                  The basement has 2 more bedrooms, 1 bath, and a kitchenette (no stove).
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Location</h4>
                <p class="text-muted">
                  Located in-between Fremont and Ballard.  
                  There are grocery stores, schools, shops, restaurants and
                  many breweries within a 1-mile radius.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Availability</h4>
                <p class="text-muted">The house is available <b>April 1st</b>.  There is a possibility we could make a March move-in work but we would need to scramble a little bit to pull this off.  We can work together and we have some flexibility.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Rent &amp; Deposits</h4>
                <p class="text-muted">The rent is <b>$4,000/month</b> due on the 1st of each month.  A security deposit of $2000 is refundable upon completion of the lease.  You will be responsible for utilities which average $200/month.
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Lease</h4>
                <p class="text-muted">The term of the lease is <b>1 year</b>.  We are looking for a long-term tenant as we have visas to work in Canada for three years and the plan is not to return to Seattle anytime soon.</p>
            </div>
        </div>
    </div>
</section>
