<section id="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">All of the Details</h2>
                <h3 class="section-subheading text-muted">
<p> The Purple is beautiful 1944 Cape Cod style house whose owners area
headed to more northern pastures.  <br/>The Purple has been lived in and loved
by the owners for twelve years and now seeks a new family.</p>

<!--
<p>
                  We are renting out our home because we are moving to Canada.
                  Jacob accepted a job working on a coworking project in Vancouver, BC and Katie is always up for an adventure.
                  We've owned this house since 2004 and it has been well loved.  We are hoping to find the perfect family for this next
                  chapter of this amazing purple house.
</p>
-->

</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">The Grounds</h4>
                <p class="text-muted">
The Purple has quite a bit of infrastructure packed into its 5000 sf lot.   We have a move-in ready chicken coop,
nice front porch, vegetable gardens and plenty of mature landscaping.
The backyard has a big deck and a lovely antique stone patio.
 There is a pathway around the house and a storage shed for all of your gardening needs.  And even a tree house!
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">The House</h4>
                <p class="text-muted">
The house is 1890 sf, with an large attic bedroom, two main floor bedrooms and a two-bedroom apartment in the basement. 
The basement apartment has a small kitchenette and a separate entrance, and is connected to the upstairs by a lockable 
interior stairway.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Location</h4>
                <p class="text-muted">
In what we like to call “The Lower East Side of Ballard,” the Purple is walking distance from Fremont,
Ballard, and the Burke-Gilman trail.   It is also walking distance to several grocery stores, restaurants,
shops, and breweries.   It is just a few blocks from the 28 and 40 bus lines and quite bikeable.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Dates</h4>
                <p class="text-muted">
We are planning on moving on <strong>April 1st</strong>, but we are flexible if the right people would like to move in March.
We are much more interested in the right fit than the hard dates.
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Rent &amp; Deposits</h4>
                <p class="text-muted">
The rent is <strong>$4000 per month</strong>.  We ask for a refundable security deposit of $2000.
You will also be responsible for utilities, which average about $200/month.
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Lease</h4>
                <p class="text-muted">
The formal lease is for one year, but we intend to stay in Canada for at least three years.
We would prefer to have a long-term tenant with a relationship to us and the house.
            </div>
        </div>
    </div>
</section>
